*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.center{
    display: flex;
    flex-wrap:wrap;
    max-width: 1280px;
    margin: none;
    padding: 0 2%;
}

header{
    height: 100px;
    padding: 20px 0;
background-color:#017143;
}
.logo{
width:50% ;

}
.menu{
    padding-top: 30px;
   width:50% ; 
   text-align:right;
}
.menu a{
    color: rgb(15, 4, 4);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
section.sobre{
    height: calc(100%-200px);
    position: relative;
}
.extras{
    position:fixed;
    bottom: -450px;
    right: -500px;
    width:1100px;
    height:1100px;
    background-color: #017143;
    margin-top: 200px;
    border-radius: 50%;

}
.social {
   position: absolute;
    left: 510px;
    top: 200px;
}
.social img{
    width: 30px;
    display: block;
    margin: 20px 0;
}
.texto{
    margin-top: 100px ;
   margin-left: 3%;
}
.texto h1{
  font-size: 50px;  

}
.texto p{
   margin: 20px 0; 
   color: rgb(10, 5, 5);
   font-size: 14px;
   font-weight:bold ;
   max-width:800px ;
}
.texto button{
    border: 0;
    background-color: #017143;
    color: #fff;
    border-radius: 10px;
   width: 80px;
   height: 30px;
   cursor: pointer;
}




















